{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    //按需加载antd组件
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ],
  // antd模块化加载, https://github.com/ant-design/babel-plugin-import
}
